<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{{body}}}
<script src="/javascripts/modernizr-custom.js"></script>
<script src="/javascripts/snap.svg.js"></script>
<script src="/javascripts/howler.js"></script>
<script src="/javascripts/Pig.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>
